@use '../abstract/' as *;

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 90%;
  background-color: #fff;
  box-shadow: 2px 2px 2px #0000000d;
  border-radius: 0.3rem;
  margin-bottom: 10px;
  padding: 10px;
  color: inherit;

  @include mobile {
    width: 100%;
  }

  &__img {
    margin-left: 10px;
    width: 80px;
    height: 80px;
    box-shadow: 2px 2px 4px #00000033;
    border-radius: 0.3rem;
  }

  &__content {
    width: 100%;
    margin-left: 15px;

    &__company {
      font-family: 'Roboto', 'sans-serif';
      font-size: 0.8rem;
      font-weight: 700;
    }

    &__title {
      font-family: 'Roboto', 'sans-serif';
      font-size: 1.2rem;
      margin: 10px 0;
    }

    &__moreinfo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 0.8rem;

      .fulltime {
        font-family: 'Roboto', 'sans-serif';
        visibility: visible;
        border: #334680 solid 1px;
        padding: 4px 8px;
        border-radius: 0.3rem;
        font-weight: 700;
      }

      .hidden {
        visibility: hidden;
      }

      .moreinfo__end {
        font-family: 'Roboto', 'sans-serif';
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #b9bdcf;

        .icon {
          margin-left: 10px;
          margin-right: 3px;
          height: 1.2rem;
          width: 1.2rem;
        }
      }
    }
  }
}
