@use '../abstract/' as *;

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.searchbar {
  background: url('../../assets/backgroundImg.png') no-repeat center;
  background-size: 100%;
  width: 80%;
  border-radius: 0.3rem;

  @include tablet {
    background-size: 175%;
    border-radius: 0.3rem;
  }

  @include mobile {
    background-size: 300%;
    width: 95%;
    border-radius: 0.3rem;
  }

  &__input {
    margin: 50px 100px;
    background-color: #fff !important;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: #fff 2px solid;
    box-shadow: 2px 2px 2px #0000001a;
    font-size: 0.8rem;

    .icon {
      height: 1.2rem;
      width: 1.2rem;
      padding-left: 20px;
      color: #b9bdcf;
    }

    input {
      width: 100%;
      padding: 0 15px;

      &::placeholder {
        color: #b9bdcf;
      }

      &:focus-visible {
        outline: none;
      }

      &:placeholder-shown {
        text-overflow: ellipsis;
      }
    }

    button {
      padding: 15px 30px;
      background-color: #1e86ff;
      color: #fff;
      border-radius: 0.3rem;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
        transition: 0.3s;
      }
    }
  }
}

.container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: start;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
  }

  &__left {
    flex-grow: 1;

    @include mobile {
      width: 100%;
    }

    &__checkbox {
      padding: 30px 10px 20px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;

      input[type='checkbox'] {
        height: 18px;
        width: 18px;
        border-color: #b9bdcf;

        // &:checked::before {
        //   accent-color: green;
        // }
      }
      label {
        padding-left: 10px;
      }
    }

    &__title {
      font-size: 1.2rem;
      font-weight: 700;
      color: #b9bdcf;
      padding-bottom: 10px;
    }

    &__input {
      background-color: #fff;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-radius: 0.3rem;
      box-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.05);
      font-size: 0.8rem;
      margin-bottom: 10px;

      input {
        padding: 10px;
        width: 100%;

        &::placeholder {
          color: #b9bdcf;
        }

        &:focus-visible {
          outline: none;
        }

        &:placeholder-shown {
          text-overflow: ellipsis;
        }
      }

      svg {
        padding: 5px 0px;
        height: 1.2rem;
        color: #b9bdcf;
      }
    }

    &__option {
      .radio {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;

        input[type='radio'] {
          height: 18px;
          width: 18px;
          border-color: #b9bdcf;
        }

        label {
          padding-left: 10px;
        }
      }
    }
  }

  &__right {
    flex-grow: 4;
    margin-top: 20px;

    @include mobile {
      width: 95%;
    }

    &__job {
      min-width: 100%;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      &:hover {
        color: inherit;
        opacity: 0.8;
      }
      &:focus {
        color: inherit;
        opacity: 0.9;
      }

      @include mobile {
        align-items: center;
      }
    }

    &__empty {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 20px;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
}
